@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

html{
    --clr_bg: #101010;
    --clr_placeholder: rgb(104, 104, 104);
    --clr_primary_font: #ececec;

    --clr_steven: #b3ffd1;
    --clr_liam: #b3edff;
    --clr_quinn: #deb3ff;
    --clr_sylar: #ffe1b3;
    --clr_cheryl: #b3bbff;

    --fs_h1: 4em;
    --fs_h3: 1.5em;
    --fs_deco: 18em;


    --img_size: 500px;
}

body{
    background-color: var(--clr_bg);
}

body > *, a{
    color: var(--clr_primary_font);
}

#team_name{
    font-size: var(--fs_h1);
    width: 100%;
    text-align: center;
    margin: .75em auto .5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 10vw;
    row-gap: 7em;
}

.card{
    width: 100%;
    max-width: calc(var(--img_size) - 5em);
    padding: 1em 0;

    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
}

.img{
    position: relative;
    height: var(--img_size);
    width: var(--img_size);
    margin: 0 auto;

    max-height: 60vw;
    max-width: 60vw;
    background-color: var(--clr_placeholder);

    background-size: cover;
    background-repeat: no-repeat;

    z-index: 5;
}

.big_letter{
    position: relative;
    width: 100%;
    font-size:  var(--fs_deco);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 75%;
    transform: translate(-2rem, -2rem);

    z-index: 0;
}

.description h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: var(--fs_h3);
}

.description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer{
    color: rgb(126, 126, 126); 
    font-size: 1.25em;
    transition: .5s;
}

#bg1, #bg2, #bg3, #bg4{
    box-sizing: content-box;
    width: 120vw; 
    height: 100px;  
    border: dashed 5px #fff;
    position: absolute;
    z-index: -100;
}

#bg1, #bg3{
    border-color: #fff transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
}

#bg2, #bg4{
    border-color: transparent transparent #fff transparent;
    border-radius: 50%/0 0 100px 100px;
}

#bg1{
    top: 500px;
}

#bg2{
    top: 1100px;
}

#bg3{
    top: 1825px;
}

#bg4{
    top: 2425px;
}

p a{
    display: inline;
    text-decoration: underline;
}

p a:hover{
    cursor: pointer;
    color: blue;
}



@media screen and (min-width: 705px){
    body{
        --img_size: 200px;
    }
    .container{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1em 1em;
        max-width: 900px;
        margin: auto;
    }

    .card{
        margin: .5em;
        min-width: 400px;
    }

    .container .card:nth-child(2n){
        flex-direction: column-reverse;
    }

    .container .card:nth-child(2n) .big_letter{
        transform: translate(-2rem, 1.5rem);
    }

    .container .card:nth-child(2n+1) .big_letter{
        transform: translate(-2rem, -1.25rem);
    }

    #bg2{
        top: 970px;
    }

    #bg3, #bg4{
        display: none;
    }
}

@media screen and (min-width: 1300px){
    .container{

        max-width: 1920px;
    }

    #bg1{
        top: 470px;
    }

    #bg2{
        display: none;
    }

}

/* Interaction */

.card > *, .card p a{
    transition: 1s;
}

.card:hover > *, .card.active > *, .card.active p a, .card:hover p a{
    transition: .6s;
}

.card .img{
    filter: grayscale(1);
}

.card:hover > .img, .card.active .img{
    filter: grayscale(0);
}

#Steven .img{
    background-image: url("../img/hs_steven.png");
}

#Liam .img{
    background-image: url("../img/hs_liam.jpg");
}

#Quinn .img{
    background-image: url("../img/hs_quinn.jpg");
}

#Sylar .img{
    background-image: url("../img/hs_sylar.jpg");
}

#Cheryl .img{

    background-image: url("../img/hs_cheryl.jpg");
}

#Steven:hover, #Steven:hover p a, #Steven.active{
    color: var(--clr_steven);
}

#Liam:hover, #Liam:hover p a, #Liam.active{
    color: var(--clr_liam);
}

#Quinn:hover, #Quinn:hover p a, #Quinn.active{
    color: var(--clr_quinn);
}

#Sylar:hover, #Sylar:hover p a, #Sylar.active{
    color: var(--clr_sylar);
}

#Cheryl:hover, #Cheryl:hover p a, #Cheryl.active{
    color: var(--clr_cheryl);
}

.footer:hover{
    color: white;
}