@import './style_guide';
$header_height: 100px;
header{
    height: $header_height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;

    #logo{
        height: 100%;
        img{
            height: 100%;
        }
    }

    #cart{
        img{
            height: 2rem;
            width: 2rem;
        }

    }

    $burger_width: 41px;
    $burger_line_height:5px;
    $burger_gap: 14px;

    #burger_menu {
        height: $burger_line_height*2 + $burger_gap;
        width: $burger_width;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        position: relative;

        &::before, &::after{
            content: "";
            display: block;
            position: absolute;
    
            background-color: $clr_primary;
    
            height: $burger_line_height;
            width: $burger_width;
    
            transition: .3s;

            border-radius: $burger_line_height / 2;
        }
    
        &::before {
            transform: translateY($burger_gap/2);
        }
    
        &::after {
            transform: translateY($burger_gap/-2);
        }
    }

    #burger_menu.active{
        &::before {
            transform: rotate(45deg);
        }
    
        &::after {
            transform: rotate(-45deg);
        }
    }
}

.header_container{
    position: relative;
    background-color: transparent;
    z-index: 100;
}

#menu{
    background-color: $clr_bg;
    
    position: absolute;
    height: 100vh;
    width: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);

    z-index: inherit;

    li{
        list-style: none;
        width: 100%;
        a{
            font-size: 2.25rem;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

#menu.active{
    transform: unset!important;
}