@import './header';
@import './footer';
@import './general';
@import './btn';
@import './style_guide';
@import './customize.scss';

.banner{
    height: 300px;
    width: 100%;
    background-image: url(../img/banner_img_mobile.png);
    background-position: center;
    background-size: cover;
    position: relative;

    &::after{
        position: absolute;
        content: "";
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: rgb(250,246,242);
        background: linear-gradient(0deg, rgba(250,246,242,1) 0%, rgba(250,246,242,0) 28%, rgba(250,246,242,0) 100%);
    }

    &.desktop::after{
        background: transparent;
    }
}


.fst{
    margin: .5rem 1.5rem;

    #start_here{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .btn_container{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: .75rem;

            h1{
                align-self: flex-start;
            }
        }

        .order_tracking{
            background-color: $clr_white;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;
            gap: .5rem;

            .order_no{
                display: flex;
                justify-content: space-between;
                align-content: center;
                border-bottom: 1px solid $clr_grey;
                padding-bottom: .5rem;
                padding-inline: .2rem;

                h2{
                    font-size: 1.1rem;
                    font-weight: normal;
                    vertical-align: top;
                    line-height: 1.3rem;
                }

                a{
                    vertical-align: baseline;
                    line-height: 1.2rem;
                }
            }

            .status_tracker{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                & > *{
                    display: flex;
                    flex-direction: column;
                    max-width: 3rem;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
    
                    p{
                        text-align: center;
                    }
                }
                .dash{
                    width: 2rem;
                    height: 3px;
                    background-color: $clr_secondary;
                    border-radius: 1.5px;
                    transform: translateY(1.5rem);
                }
            }

            a{
                align-self: flex-end;
            }
            
        }

        .find_us{
            background-color: $clr_white;
            padding: 1rem;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > div{
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                gap: 1rem;
                width: 100%;
                & > div{
                    display: flex;
                    flex-direction: column;

                    a{
                        color: $clr_tertiary;
                        font-weight: bold;
                    }
                    b{
                        font-weight: 600;
                    }
                }
                & > img{
                    margin-top: .5rem;
                }

            }


        }

        #map{
            width: 100%;
            height: 200px;
            background-color: $clr_white;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: $tablet_bp){
    .banner{
        background-image: url(../img/banner_img.png);
    }
    .fst {
        max-width: 950px;
        margin-inline: auto;
        padding-inline: 2rem;
        
        #start_here{
            flex-direction: row;
            flex-wrap: wrap;

            gap: 2rem 1rem;
            margin-inline: auto;

            justify-content: space-between;
    
            & > *{
                // max-width: 350px;
                width: 50%;
                flex: 1 49%;
            }
        }
    }
}
    

@media screen and (min-width: $desktop_bp){
    .fst {
        max-width: 1250px;
        #start_here{
            & > *{
                // max-width: 350px;
                width: 50%;
                flex: 1 32%;
            }
        }
    }

}