@import './header';
@import './footer';
@import './general';
@import './style_guide';

.banner{
    height: 300px;
    width: 100%;
    background-image: url(../img/banner_img.png);
    background-position: center;
    
}