@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF6F2;
  position: relative;
}

.btn {
  font-size: 1.75em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #F0D028;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.banner {
  height: 300px;
  width: 100%;
  background-image: url(../img/banner_img.png);
  background-position: center;
  background-size: cover;
}

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.fst {
  margin: .5rem 1.5rem;
}

.fst h2 {
  font-family: "Poppins", sans-serif;
}

.fst p {
  font-family: "Poppins", sans-serif;
}

.fst #start_here {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.fst #start_here .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
}

.fst #start_here .order_tracking {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fst #start_here .order_tracking * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.fst #start_here .order_tracking * p {
  text-align: center;
}

.fst #start_here .order_tracking .dash {
  width: 2rem;
  height: 3px;
  background-color: #F0D028;
  border-radius: 1.5px;
}

.fst #start_here .find_us {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.fst #start_here .find_us a {
  color: #EE702A;
  font-weight: bold;
}

.fst #start_here .find_us b {
  font-weight: 600;
}

.fst #start_here .find_us img {
  margin-top: .5rem;
}
/*# sourceMappingURL=index.css.map */