@import './header';
@import './footer';
@import './general';
@import './btn';
@import './style_guide';

#food_menu{
    display: grid;
    grid-template-columns: 1fr;
    height: unset;
    .food_item{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        gap: 1.5rem;
        height: 110px;

        border: 1px solid $clr_black;
        border-inline: 0;

        cursor: pointer;
        
        p{
            font-size: 1.375rem;
            font-weight: 500;
            color: $clr_black;
        }

        img{
            height: unset;
        };
    }
}

@media screen and (min-width: $tablet_bp){
    #food_menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
        width: 100%;
        max-width: 750px;
        padding: 3rem;

        justify-items: center;
        
        .food_item{
            border: 0;
            padding: 0;
            max-width: 250px;
        }
    }
}

@media screen and (min-width: $desktop_bp){
    #food_menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-inline: auto;
        width: 90vw;
        max-width: $desktop_bp;
        padding: 3rem;
        gap: 1%;
        .food_item{
            // flex: 1 1 250px;
            // width: 250px;
            border: 0;
            cursor: pointer;
        }
    }
}